In [37]:
from bs4 import BeautifulSoup
import re
import pandas as pd

/home/therochvoices/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
#file=codecs.open('csgo_data/https:_steamcommunity.com_id_therochvoices_gcpd_730_?tab=matchhistorycompetitive.html', 'r')

In [2]:
url = r"/home/therochvoices/Documents/csgo data scraper/csgo_data/Steam Community :: Counter-Strike: Global Offensive :: Personal Game Data.html"

In [3]:
page = open(url)
soup = BeautifulSoup(page.read(), "lxml")

In [4]:
all_matches = soup.find_all(class_="csgo_scoreboard_inner_right")

In [5]:
match1 = all_matches[1].find_all('tr')

In [6]:
match1[1]

<tr>
<td class="inner_name"> <div class="playerAvatar offline"><a href="https://steamcommunity.com/profiles/76561198157811585"><img alt="" data-miniprofile="197545857" src="Steam%20Community%20::%20Counter-Strike:%20Global%20Offensive%20::%20Personal%20Game%20Data_files/d942d0a787c1fb76a90d0dc2732129171de99bf5.jpg"/></a></div>
<div class="playerNickname ellipsis"><a class="linkTitle" data-miniprofile="197545857" href="https://steamcommunity.com/profiles/76561198157811585">Smaug™</a></div>
</td>
<td>66</td>
<td>31</td>
<td>3</td>
<td>11</td>
<td>★6</td>
<td>25%</td>
<td>74</td>
</tr>

In [7]:
kills = match1[1].find_all('td')

In [8]:
kills[0].get_text().find("Smaug")

2

In [9]:
kills[5].get_text()

'★6'

In [85]:
ping = []
kills = []
assist = []
death = []
mvo = []
data = []
toburn = []

for i in all_matches:
    matches = i.find_all('tr')
    for j in matches:
        stats = j.find_all('td')
        data = []
        for k in stats:
            data.append(k.get_text())
            
        if(len(data) == 8):
            toburn.append(data)

df = pd.DataFrame(toburn, columns=["Name", "Ping", "Kills", "Assist", "Death", "Mvp", "HSPR", "Pt"])

In [91]:
df['Name'] = df.Name.str.replace('\n', '')

In [92]:
df.to_csv('matchmaking.csv')

In [93]:
df = pd.read_csv('matchmaking.csv')

In [97]:
df = df[df['Name'] == ' Prodigal Dad']

In [101]:
df.head()

    Unnamed: 0           Name  Ping  Kills  Assist  Death Mvp HSPR  Pt
2            2   Prodigal Dad    86     18       4      9   ★  38%  44
14          14   Prodigal Dad     0      6       1     13  ★2  28%  17
22          22   Prodigal Dad   114     11       6     22      36%  29
37          37   Prodigal Dad    75      4       1     15           16
48          48   Prodigal Dad   137     11       2     20   ★  18%  28

In [102]:
df = df.iloc[::-1]

In [104]:
df.head()

      Unnamed: 0           Name  Ping  Kills  Assist  Death Mvp HSPR  Pt
2534        2534   Prodigal Dad    65      2       0     20      50%   4
2529        2529   Prodigal Dad    56      1       1     16            7
2514        2514   Prodigal Dad    59      7       3     17      71%  18
2500        2500   Prodigal Dad     0     14       1     15      46%  29
2493        2493   Prodigal Dad   139      6       5     22      50%  17

In [105]:
df['KD'] = df['Kills']/df['Death']

/home/therochvoices/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [107]:
df.sample()

,Unnamed: 0,Name,Ping,Kills,Assist,Death,Mvp,HSPR,Pt,KD
1413,1413,Prodigal Dad,85,14,3,19,★2,7%,31,0.736842

In [108]:
import matplotlib.pyplot as plt

In [127]:
from pylab import rcParams
rcParams['figure.figsize'] = 10, 4