In [58]:
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
#file=codecs.open('csgo_data/https:_steamcommunity.com_id_therochvoices_gcpd_730_?tab=matchhistorycompetitive.html', 'r')

In [2]:
url = r"/home/therochvoices/Documents/csgo data scraper/csgo_data/Steam Community :: Counter-Strike: Global Offensive :: Personal Game Data.html"

In [3]:
page = open(url)
soup = BeautifulSoup(page.read(), "lxml")

In [4]:
all_matches = soup.find_all(class_="csgo_scoreboard_inner_right")

In [5]:
match1 = all_matches[1].find_all('tr')

In [6]:
match1[1]

<tr>
<td class="inner_name"> <div class="playerAvatar offline"><a href="https://steamcommunity.com/profiles/76561198157811585"><img alt="" data-miniprofile="197545857" src="Steam%20Community%20::%20Counter-Strike:%20Global%20Offensive%20::%20Personal%20Game%20Data_files/d942d0a787c1fb76a90d0dc2732129171de99bf5.jpg"/></a></div>
<div class="playerNickname ellipsis"><a class="linkTitle" data-miniprofile="197545857" href="https://steamcommunity.com/profiles/76561198157811585">Smaug™</a></div>
</td>
<td>66</td>
<td>31</td>
<td>3</td>
<td>11</td>
<td>★6</td>
<td>25%</td>
<td>74</td>
</tr>

In [7]:
kills = match1[1].find_all('td')

In [8]:
kills[0].get_text().find("Smaug")

2

In [9]:
kills[5].get_text()

'★6'

In [12]:
data = []
toburn = []

count = 0
for i in all_matches:
    matches = i.find_all('tr')
    for j in matches:
        stats = j.find_all('td')
        data = []
        for k in stats:
            data.append(k.get_text())
            
        if(len(data) == 8):
            toburn.append(data)

df = pd.DataFrame(toburn, columns=["Name", "Ping", "Kills", "Assist", "Death", "Mvp", "HSPR", "Pt"])

In [13]:
df['Name'] = df.Name.str.replace('\n', '')

In [14]:
df.to_csv('matchmaking.csv')

In [2]:
df = pd.read_csv('matchmaking.csv')

In [3]:
df = df.iloc[::-1]

In [4]:
df.head()

,Unnamed: 0,Name,Ping,Kills,Assist,Death,Mvp,HSPR,Pt
2539,2539,H A C K E R . C F G ╰_╯,99,5,5,16,,20%,15
2538,2538,☜☆☞DEADSHOT☜☆☞,42,16,4,11,★3,31%,42
2537,2537,Meteor,44,22,4,19,★3,18%,48
2536,2536,SNORK,7,26,3,17,★4,30%,55
2535,2535,V1v3k,25,27,3,18,★6,55%,64

In [5]:
df['KD'] = df['Kills']/df['Death']

In [6]:
from pylab import rcParams
rcParams['figure.figsize'] = 10, 4

In [7]:
df.shape

(2540, 10)

In [8]:
df.iloc[10]

Unnamed: 0             2529
Name           Prodigal Dad
Ping                     56
Kills                     1
Assist                    1
Death                    16
Mvp
HSPR
Pt                        7
KD                   0.0625
Name: 2529, dtype: object

In [120]:
def extractProdigal(valve):
    isAce = 0
    isMad = 0
    toAppend = []
    prodi = 0
    for i in valve:
        if(i[1] == ' Mad Titan'):
            isMad = 1
        if(i[1] == ' Ace'):
            isAce = 1
        if(i[1] == ' Prodigal Dad'):
            prodi = i
    prodi = np.append(prodi, isMad)
    prodi = np.append(prodi, isAce)
    return prodi

In [121]:
valve = []
finalList = []
for i in range(0, df.shape[0]):
    if(i%10 == 0 and i!=0):
        finalList.append(extractProdigal(valve))
        valve = []
    else:
        valve.append(df.iloc[i].values)
    #if(i%10==0 and i!=0):

In [123]:
prodigal = pd.DataFrame(data = finalList, columns=['temp', 'Name', 'Ping', 'Kills', 'Assist',
                                                  'Deaths', 'Mvp', 'HSPR', 'Pts', 'KD', 'isMad', 'isAce'])

In [128]:
prodigal.sample(10)

,temp,Name,Ping,Kills,Assist,Deaths,Mvp,HSPR,Pts,KD,isMad,isAce
117,1362,Prodigal Dad,54,19.0,6.0,16.0,★4,31%,47.0,1.187500,1.0,1.0
241,124,Prodigal Dad,75,15.0,5.0,20.0,★3,26%,42.0,0.750000,0.0,0.0
213,402,Prodigal Dad,61,17.0,8.0,22.0,★2,41%,48.0,0.772727,0.0,0.0
38,2157,Prodigal Dad,60,16.0,3.0,6.0,★3,25%,54.0,2.666667,0.0,0.0
226,271,Prodigal Dad,59,24.0,8.0,24.0,★4,41%,68.0,1.000000,1.0,0.0
75,1787,Prodigal Dad,65,9.0,3.0,22.0,★,22%,35.0,0.409091,0.0,0.0
119,0,1,0,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
183,707,Prodigal Dad,75,15.0,2.0,22.0,★3,26%,37.0,0.681818,1.0,0.0
149,1045,Prodigal Dad,37,24.0,2.0,19.0,★3,45%,59.0,1.263158,0.0,0.0
215,382,Prodigal Dad,134,23.0,1.0,18.0,★3,17%,49.0,1.277778,1.0,1.0